@model Localidad

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="ProvinciaId" class="form-label"></label>
        <select asp-for="ProvinciaId" class="form-select" asp-items="ViewBag.ProvinciaId"></select>
        <span asp-validation-for="ProvinciaId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RegionId" class="form-label"></label>
        <select asp-for="RegionId" class="form-select" asp-items="ViewBag.RegionId"></select>
        <span asp-validation-for="RegionId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NombreLocalidad" class="form-label"></label>
        <input asp-for="NombreLocalidad" class="form-control" />
        <span asp-validation-for="NombreLocalidad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CodigoPostal" class="form-label"></label>
        <input asp-for="CodigoPostal" class="form-control" />
        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
